<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InterfaceTest.AddressMassegeMapper">

    <!--<select id="getAddressId" resultType="String">-->
    <!--select addr_full from c_address where id=19443607-->
  <!--</select>-->

    <select id="getAddressId"  resultType="String">
    select addressname  from  t_address_query where addressname='滨江市新洲区朝晖街道新市街113号3楼'
    </select>


</mapper>